# Datetime Aggregates in Pandas Tutorial

This notebook explains how to aggregate time series data in `pandas`.

This notebook will use gold and silver price data from `rdatasets` for this tutorial

### Packages

The documentation for each package used in this tutorial is linked below:
* [pandas](https://pandas.pydata.org/docs/)
* [statsmodels](https://www.statsmodels.org/stable/index.html)
    * [statsmodels.api](https://www.statsmodels.org/stable/api.html#statsmodels-api)

In [1]:
import statsmodels.api as sm
import pandas as pd

## Create initial dataset

The data is from `rdatasets` imported using the Python package `statsmodels`.

In [2]:
df = sm.datasets.get_rdataset('GoldSilver', 'AER').data.reset_index().rename(columns={'index': 'date'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9132 entries, 0 to 9131
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  9132 non-null   object
 1   gold      9132 non-null   float64
 2   silver    9132 non-null   float64
dtypes: float64(2), object(1)
memory usage: 214.2+ KB

In [3]:
df['date'] = pd.to_datetime(df.date)

AttributeError: 'DataFrame' object has no attribute 'date'

## Time series aggregation

The `pandas` function `rolling` can be used to create aggregations on windows of specific lengths.  Here, an aggregate of the daily gold and silver price data will be created covering the primary week.  

First, a datetime index needs to be created from the **date** column.

In [ ]:
df.set_index('date', inplace=True)

If, instead of an offset (**'7D'** representing 7 days), a number is used, it will just use the prior number of observations.

In [ ]:
weekly_resample = df.rolling('7D')
aggregated_df = weekly_resample.agg(['min', 'mean', 'max', 'std'])
aggregated_df.columns = ['_'.join(col).strip() + '_week' for col in aggregated_df.columns.values]

In [ ]:
aggregated_df.head(20)

,gold_min_week,gold_mean_week,gold_max_week,gold_std_week,silver_min_week,silver_mean_week,silver_max_week,silver_std_week
date,,,,,,,,
1977-12-30,100.00,100.000,100.00,NaN,223.42,223.420,223.42,NaN
1978-01-02,100.00,100.000,100.00,0.000000,223.42,223.420,223.42,0.000000
1978-01-03,100.00,100.000,100.00,0.000000,223.42,225.560,229.84,3.706589
1978-01-04,100.00,100.000,100.00,0.000000,223.42,225.315,229.84,3.065828
1978-01-05,100.00,100.000,100.00,0.000000,223.42,225.850,229.84,2.912147
1978-01-06,100.00,100.000,100.00,0.000000,223.42,226.604,229.84,2.596657
1978-01-09,100.00,100.246,101.23,0.550073,224.58,227.844,229.84,2.135470
1978-01-10,100.00,100.436,101.23,0.605169,224.58,227.670,229.62,1.960446
1978-01-11,100.00,100.886,102.25,0.942460,227.19,228.998,231.22,1.549990
1978-01-12,100.00,101.062,102.25,0.808251,227.19,228.978,231.22,1.566802
1978-01-13,100.88,101.586,102.62,0.796825,227.89,230.050,232.55,1.846334
1978-01-16,100.88,101.958,103.09,0.997883,227.89,230.624,232.55,2.106960
1978-01-17,100.88,102.124,103.09,0.845713,227.89,230.866,232.55,1.931691
1978-01-18,100.87,101.848,103.09,1.004575,227.89,230.214,232.55,2.297810
1978-01-19,100.87,102.012,103.09,0.864159,227.96,230.412,232.55,2.079800
1978-01-20,100.87,101.832,103.09,0.796976,227.96,229.686,232.49,1.755130
1978-01-23,100.87,101.938,103.62,1.012285,227.96,229.988,234.00,2.377713
1978-01-24,100.87,102.300,103.62,1.239738,227.96,230.678,234.00,2.892269
1978-01-25,101.70,102.836,103.62,1.028217,228.88,231.986,234.50,2.834022
1978-01-26,101.72,103.152,103.62,0.811831,228.92,232.508,234.50,2.311011